<div class="d-flex">
  <app-sidebar></app-sidebar>


  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscando Gifs...">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem veniam dolores iure facilis omnis doloremque ratione aut dolor rerum nesciunt reprehenderit non voluptatibus ex voluptatum quaerat, facere repellendus ipsam vitae!
      </div>
    </div>
  </div>
</div>